<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <section class="content">
      <agm-map [latitude]="0.0" [longitude]="0.0"></agm-map>
    <!-- <div class="row">
      <div class="col-lg-12 col-xs-12">
          
      </div>
    </div> -->
  </section>
</div>